{% extends 'base.html.twig' %}

{% block title %}Tarifs - Kahn Photography{% endblock %}

{% block body %}
<div class="tarifleft">
       <img 
        src="{{ asset('images/robert-godwin-cdksyTqEXzo-unsplash.jpg') }}" 
        class="imghover imgborder" 
        alt="Photo portrait en noir et blanc d'un homme chauve souriant face à la caméra" 
        width="159" 
        height="239"
    >
    <img 
        src="{{ asset('images/good-faces-xmSWVeGEnJw-unsplash.jpg') }}" 
        class="imghover imgborder" 
        alt="Photo portrait en couleur d'une femme noire regardant vers la caméra de trois quarts" 
        width="159" 
        height="239"
    >
    <img 
        src="{{ asset('images/karina-vorozheeva-rW-I87aPY5Y-unsplash.jpg') }}" 
        class="imghover imgborder" 
        alt="Photo portrait en couleur d'un chat noir et blanc, avec un papillon sur son nez" 
        width="159" 
        height="238"
    >  
      <h2>Portrait humain et animal</h2>
      <ul>
        <li>Couleur : 120 €/ 150 €</li>
        <li>Noir et blanc : 100 €/ 130 €</li>
        <li>Effet personnalisé : à partir de + 50 €</li>
        <li>Groupes : + 50 €</li>
      </ul>
      <p>Possibilités de forfait dans le cas de groupe de plus de 5 participants</p>
    </div>
<div class="tarifright">
      <img 
        src="{{ asset('images/luca-bravo-VowIFDxogG4-unsplash.jpg') }}" 
        class="imghover imgborder" 
        alt="Photo d'un lac dans les montagnes, avec un quai et plusieurs petites barques" 
        width="320" 
        height="214"
    >
    <img 
        src="{{ asset('images/mohamed-nohassi-odxB5oIG_iA-unsplash.jpg') }}" 
        class="imghover imgborder" 
        alt="Photo d'une personne bras écartés se tenant sur une étendue d'eau qui reflète le ciel coloré"  
        width="321" 
        height="214"
    >
      <h2>Photo nature</h2>
      <p>De 100 à 200+ € la séance d’une heure, possibilité de forfait pour une longue durée.<br>
      Me contactez pour plus de détails</p>
    </div>

 <div>
      <div class="container d-flex flex-column align-items-center mt-5 text-center">
        <h2>Acquérir une photographie originale</h2>
        <p class="devise">Mes œuvres sont bien plus que de simples images : elles sont des fenêtres ouvertes sur des mondes de beauté, d'émotion et d'inspiration.</p>
      </div>
      <div class="container d-flex justify-content-center mt-5">
        <div id="carouselExampleIndicators" class="carousel slide" style="max-width: 800px;">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
          </div>
          <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="{{ asset('images/mio-ito-B_SLtmXPKNA-unsplash-min.jpg') }}" class="d-block w-100 img-fluid mx-auto d-block imgborder" alt="...">
    </div>
    <div class="carousel-item">
        <img src="{{ asset('images/minh-pham-Wn1gmozpNZc-unsplash-min.jpg') }}" class="d-block w-100 img-fluid mx-auto d-block imgborder" alt="...">
    </div>
    <div class="carousel-item">
        <img src="{{ asset('images/kasper-rasmussen-Ii45WVmhv6E-unsplash-min.jpg') }}" class="d-block w-100 img-fluid mx-auto d-block imgborder" alt="...">
    </div>
    <div class="carousel-item">
        <img src="{{ asset('images/jean-philippe-delberghe-exBd9GXAFhs-unsplash-min.jpg') }}" class="d-block w-100 img-fluid mx-auto d-block imgborder" alt="...">
    </div>
    <div class="carousel-item">
        <img src="{{ asset('images/nicola-fittipaldi-0zwzo_v2ZHQ-unsplash-min.jpg') }}" class="d-block w-100 img-fluid mx-auto d-block imgborder" alt="...">
    </div>
    <div class="carousel-item">
        <img src="{{ asset('images/natasha-aAPfpwIK2BU-unsplash-min.jpg') }}" class="d-block w-100 img-fluid mx-auto d-block imgborder" alt="...">
    </div>
    <div class="carousel-item">
        <img src="{{ asset('images/kimson-doan-HD8KlyWRYYM-unsplash-min.jpg') }}" class="d-block w-100 img-fluid mx-auto d-block imgborder" alt="...">
    </div>
    <div class="carousel-item">
        <img src="{{ asset('images/vinicius-amnx-amano-17NCG_wOkMY-unsplash-min.jpg') }}" class="d-block w-100 img-fluid mx-auto d-block imgborder" alt="...">
    </div>
</div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

     <div>
      <h2>Pourquoi choisir mes photographies ?</h2>
      <ul class="tariftext text-center">
        <li>
          Originalité et Exclusivité : Chaque photographie que je propose est une œuvre unique, soigneusement sélectionnée et éditée pour vous offrir une pièce d'art inégalée. Vous ne trouverez nulle part ailleurs des images identiques à celles-ci.
        </li>
        <br>
        <li>
          Qualité Supérieure : Imprimées sur des matériaux de haute qualité et respectueux de l'environnement, mes photographies sont conçues pour durer. Les couleurs vibrantes et les détails nets garantiront que chaque image reste aussi éclatante et émouvante que le jour où elle a été prise.
        </li>
        <br>
        <li>
          Versatilité : Que vous cherchiez à embellir votre salon, votre bureau ou toute autre pièce de votre maison, mes photographies s'intègrent parfaitement à tout type de décoration intérieure. Elles sont disponibles en différentes tailles et formats pour s'adapter à vos besoins spécifiques.
        </li>
        <br>
        <li>
          Émotion et Connexion : Chaque photographie raconte une histoire et évoque des émotions. En accrochant l'une de mes œuvres chez vous, vous invitez non seulement la beauté, mais aussi une part d'humanité et de connexion émotionnelle dans votre espace de vie.
        </li>
      </ul>
      <h2>Pour qui sont mes photographies ?</h2>
      <ul class="text-center">
        <li>
          Amoureux de l'Art : Ceux qui apprécient les pièces uniques et souhaitent enrichir leur collection personnelle.
        </li>
        <li>
          Décorateurs d'Intérieur : Professionnels cherchant à ajouter une touche distinctive et élégante à leurs projets.
        </li>
        <li>
          Particuliers : Toute personne désirant transformer son espace de vie avec une œuvre d'art qui parle à son cœur.
        </li>
      </ul>
      <div class="d-flex justify-content-center">
    <a href="{{ path('contact') }}">
        <h3 class="bouton">Contactez-moi</h3>
    </a>
</div>
    </div>
{% endblock %}