<footer class="footer">
 <div class="footer-content">
        <div class="left-content">
            <div class="darkmode-icon">
                <a href="#" onclick="toggleDarkMode(this)">
                    <img src="{{ asset('images/darkmode.svg') }}" alt="Mode sombre" width="150" height="auto" />
                </a>
            </div>
        </div>
        <div class="right-content social">
            <a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
                <img src="{{ asset('images/Twitter logo.svg') }}" alt="Twitter" class="social" width="65" height="auto" />
            </a>
            <a href="https://instagram.com" target="_blank" rel="noopener noreferrer">
                <img src="{{ asset('images/Instagram logo.svg') }}" alt="Instagram" class="social" width="65" height="auto" />
            </a>
            <a href="https://facebook.com" target="_blank" rel="noopener noreferrer">
                <img src="{{ asset('images/Facebook logo.svg') }}" alt="Facebook" class="social" width="65" height="auto" />
            </a>
            <a href="https://youtube.com" target="_blank" rel="noopener noreferrer">
                <img src="{{ asset('images/Youtube logo.svg') }}" alt="YouTube" class="social" width="65" height="auto" />
            </a>
        </div>
    </div>
</footer>